blinker==1.8.2
certifi==2023.11.17
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.13.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pipenv==2023.11.15
platformdirs==4.1.0
pluggy==1.5.0
pytest==8.3.3
setuptools==69.0.2
SQLAlchemy==2.0.35
typing_extensions==4.12.2
virtualenv==20.25.0
Werkzeug==3.0.4
